XMLHR6121_10.04/HR6121_ertodtd.dtd

<?xml version="1.0" encoding="utf-8"?>

<!ELEMENT HR6121_ertodtd (hr6121_modell)>

<!ELEMENT HR6121_modell (A*,B*,C*)>

<!ELEMENT A (a, b, c)>
<!ATTLIST b
    x CDATA #REQUIRED
    y CDATA #REQUIRED
>
<!ATTLIST c 
    d CDATA #required
    e CDATA #required
>

<!ELEMENT C (a, b)>

<!ELEMENT B (a,b)>
<!ATTLIST b
    x #CDATA #required
    y #CDATA #required
>
