XMLHR6121_11.15/HR6121_orarend.dtd

<!DOCTYPE HR6121_orarend SYSTEM "HR6121_orarend.dtd">
<!ELEMENT HR6121_orarend (orarend)>

<!ELEMENT orarend (ora+)>

<!ELEMENT ora (idopont, helyszin, oktato, szak)>
<!ATTLIST ora
    id CDATA #REQUIRED
    típus CDATA #REQUIRED
>

<!ELEMENT idopont (nap, tol, ig)>
<!ELEMENT nap (#PCDATA)>
<!ELEMENT tol (#PCDATA)>
<!ELEMENT ig (#PCDATA)>

<!ELEMENT helyszin (#PCDATA)>
<!ELEMENT oktato (#PCDATA)>
<!ELEMENT szak (#PCDATA)>